body {
	text-align: center;
	margin: 0px;
 }
header{
	width:100%;

	background-image: url("images2.png");
	background-size: 100% 300px;
	background-color: black;
} 

#headline{
	vertical-align: middle;
	line-height: 300px;
	font-size:5.5vw;
	width: auto;
	height:100%;
	color:#fff;
  letter-spacing: 0px;
  text-transform:uppercase;
  animation:blur 1.0s linear 1;
  text-shadow:0px 0px 5px #fff,
      0px 0px 7px #fff;
   
}
@keyframes blur{
  from{
      text-shadow:0px 0px 10px #fff,
      0px 0px 150px #7B96B8,
      0px 10px 100px #7B96B8,
      0px -10px 100px #7B96B8;}
	  from{font-size:7.5vw;}
	  to {font-size:5.5vw;}
}